### Funciones Apply

In [4]:
func <- function(x){
  return(sum(is.na(x)))
}
## apply func on all columns (second dimension (2))
## and store it to na
na <- apply(X = Cars93, MARGIN = 2, FUN = func)
## show those with missings
na[ na > 0 ]

Rear.seat.room   Luggage.room
             2             11

In [5]:
p <- ncol(Cars93)
na_for <- numeric(p)
for(i in 1:p){
  na_for[i] <- func(Cars93[, i])
}

In [6]:
identical(as.numeric(na), na_for)

[1] TRUE

In [7]:
na_for

 [1]  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  2 11  0
[26]  0  0